* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
html,
body {
  font-family: 'Fjord One', serif;
  /* padding-top: 5px; */
  /*padding-bottom: 20px;*/
  height: 100%;
  position: relative;
  padding: 0px;
  /* color: #838383; */
  /* background-color: #EC7063; */
}
#wrapper {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-left: 0px;
 padding-right: 0px;
 padding-top: 0px;
 padding-bottom: 40px; /* height of your footer */
 /* background-color: #F9E79F; */
}
.footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 40px;
 padding: 5px;
 /* background-color: #EAEDED; */
 /* border-color: #EAEDED; */
}
/* .footer>a, .footer>a:visited{
    color: #838383;
    text-decoration: none;
}
.footer>a:focus, .footer>a:hover{
    color: #404040;
    text-decoration: none;
} */
#main {
  	min-height: 100%;
  	position: relative;
    padding: 15px;
    /* background-color: #5DADE2; */
}


/* navigation */
a {
    color: #404040;
    /* background-color: var(--lightest); */
    border-color: #d8dadd;
    text-decoration: none;
}
a:focus, a:hover {
    color: #bfbfbf;
    text-decoration: none;
    /* background-color: var(--lightest); */
}
.active>a:focus, .active>a:hover, .active>a:visited, .active>a:active, .active>a:link{
    color: #bfbfbf;
}

/* #layout {
  	min-height: 100%;
  	position: relative;
    background-color: #F9E79F;
} */
/* #footer {
	width: 100%;
	height: 40px;
	position: absolut;
	bottom: 0;
  padding: 5px;
  background-color: #BB8FCE;
  border-color: #BB8FCE;
} */
/*#flash {
  padding-top: 70px;
}*/
/* #layout {
    padding-top: 70px;
    min-height: 100%;
    position: relative;
	  padding-bottom: 40px;
} */

/* .hpgrid {
  padding-top: 64px;
  text-align: center;
}
.footer {
  padding-top: 64px;
  text-align: center;
}
.navbar-brand {
  height: 32px;
  padding: 9px 9px;
}
.navbar-right {
  padding-right: 9px;
} */
