{% extends 'layout.html.twig' %}

{% block main %}

<div class="row justify-content-md-center my-5 mx-3"><!-- row 1 -->

    <div class="col-md-4 text-md-center px-3">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mindpool</h5>
                <h6 class="card-subtitle mb-2 text-muted">Hosting</h6>
                <p class="card-text">The web hosting provider of choice.</p>
                <a href="https://www.mindpool.net" class="btn btn-secondary">Go</a>
            </div>
        </div>

    </div>

    <!-- <div class="col-md-4 text-md-center px-3">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-secondary">Go</a>
            </div>
        </div>

    </div> -->

    <div class="col-md-4 text-md-center px-3">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Brasstonality</h5>
                <h6 class="card-subtitle mb-2 text-muted">Stream & Share</h6>
                <p class="card-text">Stream music, videos and share files.</p>
                <a href="https://brasstonality.com" class="btn btn-secondary">Go</a>
            </div>
        </div>

    </div>

</div><!-- row 1 -->

{% endblock main %}
