<footer class="footer">

      <div class="row"><!-- main row -->
          <div class="column mx-auto text-muted">
              <small>© 2020 by Stefan Wiegmann | <a href="{{ path('about') }}">About/Imprint</a></small>
          </div>
    </div>
</footer>
