<footer class="footer">

      <div class="row"><!-- main row -->
          <div class="column mx-auto text-muted">
              <small>
                  © 2020 by Stefan Wiegmann | <a href="{{ path('about') }}">About/Imprint</a> |
                  <a href="https://www.facebook.com/stefan.wiegmann.37"><i class="fab fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/stefan-wiegmann-93890a3/"><i class="fab fa-linkedin"></i></a>
                  <a href="https://www.xing.com/profile/Stefan_Wiegmann/cv"><i class="fab fa-xing"></i></a>
                  <a href="https://github.com/stefanwiegmann"><i class="fab fa-github"></i></a>
              </small>
          </div>
    </div>
</footer>
